@import url("https://use.typekit.net/tww0ayh.css");
/* Reset default styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Reset list styles */
ul {
  list-style: none;
}

/* Reset table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset button styles */
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

strong {
  font-weight: 600;
}

body {
  background: #04111F;
}



.white-cta {
  background: linear-gradient(180deg, #FFFFFF 0%, #E4E4E4 100%);
  box-shadow: inset 0px 0px 55px 22px rgba(5, 22, 43, 0.25);
  display:flex;
  flex-direction: row;
  margin:0 auto;
  max-height:175px;
}

.cta-phone {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-phone h1 {
  font-family: aviano-sans, sans-serif;
  font-size:3.2rem;
  font-weight:900!important;
}

.cta-phone h5 {
  font-family: aviano-sans, sans-serif;
  color:#E5A220;
}

.cta-phone a {
  color:#081426;
  text-decoration: none;
}

.cta-phone a:hover {
  color:#234578;
  transition: ease-in-out 0.1s;
}

.cta-phone .text-yellow {
  color:#E5A220;
}

.cta-phone .text-yellow:hover {
  color:#FEBE44;
  transition: ease-in-out 0.1s;
}

.shield-cta img {
  scale:100%;
}

/* Dark Callout */
.dark-callout {
  background: #04111F url(/public/assets/intro-smoke.png);
  background-blend-mode: normal;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: aviano-sans, sans-serif;
  padding: 100px 0;
}

.dark-callout h2 {
  font-size: 3rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.dark-callout h3 {
  font-size: 3rem;
  color: #7ED3F7;
  font-weight: 600;
  text-transform: uppercase;
}

.dark-callout section {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  align-items: center;
  grid-auto-rows: 1fr;
  color: #fff;
  gap: 75px;
}

.dark-callout .intro-content p {
  font-family: "Lato";
  font-size: 1.2rem;
  font-weight: 300;
}

.dark-callout .intro-content .tagline {
  color: #FEBE44;
}

.dark-callout .left-intro>.column {
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
  min-height: inherit;
  align-items: center;
  grid-auto-rows: 1fr;
}

/* Dark Callout Alt */

.dark-callout-alt {
  font-family: aviano-sans, sans-serif;
  padding: 100px 0;
}

.dark-callout-alt h2 {
  font-size: 3rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.dark-callout-alt h3 {
  font-size: 3rem;
  color: #7ED3F7;
  font-weight: 600;
  text-transform: uppercase;
}

.dark-callout-alt section {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  align-items: center;
  grid-auto-rows: 1fr;
  color: #fff;
  gap: 75px;
}

.dark-callout-alt .intro-content p {
  font-family: "Lato";
  font-size: 1.2rem;
  font-weight: 300;
}

.dark-callout-alt .intro-content .tagline {
  color: #FEBE44;
}

.dark-callout-alt .right-intro>.column {
  display: flex;
  flex-direction: row;
  flex-flow: column nowrap;
  min-height: inherit;
  align-items: center;
  grid-auto-rows: 1fr;
}

/* Dark Callout Intro */
.dark-callout .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.dark-callout .intro p {
  width: 65%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 10px 0;
  color: #fff;
  font-family: 'Lato';
}

/*Global */

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width:1320px;
  gap: 150px;
}

.cta-container {
  margin: 0 auto;
  max-width:1320px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:55px;
}

.cta-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.cta-buttons .btn-solid {
  background: radial-gradient(50% 50% at 50% 50%, #429dc4 0, #0073a4 100%);
  border: 1px solid hsla(0, 0%, 100%, .15);
  border-radius: 500px;
  padding: 15px 50px;
  color: #fff;
  cursor: pointer;
  font-family: aviano-sans, sans-serif;
  font-size: 18px;
  transition: background ease-in-out 0.3s;
}

.cta-buttons .btn-outline {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 500px;
  padding: 15px 50px;
  color: #fff;
  cursor: pointer;
  font-family: aviano-sans, sans-serif;
  font-size: 18px;
  transition: background ease-in-out 0.3s;
}

.cta-buttons .btn-outline:hover {
  background: #fff;
  color: #081426;
}

.cta-buttons .btn-solid:hover {
  background: #fff;
  color: #081426;
}

.text-button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  border: none;
  text-align: left;
  color: #fff;
  cursor: pointer;
  font-family: aviano-sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.text-button .square-plus {
  width: 16px;
}

.text-button .square-plus svg {
  color: #FEBE44;
}

.text-button:hover {
  color: #FEBE44;
}

/* Home Hero */

#home-hero {
  background: #081426 url(/public/assets/dark-bg.jpg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-hero {
  padding-bottom: 75px;
}

.hero-cta {
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  font-family: aviano-sans, sans-serif;
  gap: 15px;
}

.hero-cta .cta-tagline {
  color: #7ED3F7;
}

.hero-cta h1 {
  font-size: 4em;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

.hero-cta p {
  font-family: "Lato";
  font-size: 1.5em;
  font-weight: 300;
  max-width: 40vw;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 75px;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  color: white;
}

/* Navigation */
.nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap:35px;
  padding-bottom:25px;
}

.nav-item {
  font-family: aviano-sans, sans-serif;
  font-size: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding-bottom: 20px;
  border-bottom:0;
  transition: border-bottom 0.1s;
  transition-timing-function: ease-in-out;
  color:#E4E4E4;
}

.nav-link:hover {
  color: #fff;
  font-weight:500;
  border-bottom: 5px solid #7ED3F7;
}

/* 3 Column Icon Box Section */

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 350px;
  grid-auto-rows: 1fr;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  background: rgba(5, 21, 41, 0.4);
  background-blend-mode: multiply;
  border-radius: 5px;
  padding: 50px;
  transition: ease-in-out 0.2s;
  gap: 5px;

}

.icon-box:hover {
  background-color: rgba(5, 21, 41, 0.8);
  background-blend-mode: multiply;
  box-shadow: rgba(4, 15, 43, 0.25) 0px 50px 100px -20px, rgba(4, 15, 43, 0.3) 0px 30px 60px -30px, rgba(4, 15, 43, 0.35) 0px -2px 6px 0px inset;
  transform: translateY(-5px);
}

.icon-box>img {
  width: 75px;
  height: 75px;
  object-fit: contain;
  margin-bottom: 20px;
}

.icon-box h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  color: #fff;
  font-family: aviano-sans, sans-serif;
}

.icon-box h3 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  color: #fff;
}

.icon-box p {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 10px 0;
  color: #fff;
  font-family: 'Lato';
}

/* Responsive Styles */
@media only screen and (min-width: 769px) {
  .mobile-menu-bar {
    display: none;
  }
}
@media (max-width: 768px) {
  nav {
    display:none;
  }
  .mobile-menu-bar {
    display: flex;
    width:100%;
    align-items: center;
    height: 150px;
    background-color: #081426;
    color: #fff;
    position:fixed;
    top:0;
    transition:ease-in-out 0.5s;
    z-index:100;
  }

  .mobile-menu-bar .logo {
    flex: 1;
    text-align: left;
    margin-left: 10px;
  }

  .mobile-menu-bar .hamburger-icon {
    flex: 1;
    text-align: right;
    margin-right: 10px;
    width:60px;
  }

  .mobile-menu-bar img {
    height: 90px;
    padding-left:15px;
  }

  .logo {
    scale:100%;
  }
  .nav {
    display: flex;
    flex-direction: column;
  }
  .container {
    padding:25px;
  }
  .cta-container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap:0px;
  }
  .white-cta {
    padding:25px;
  }
  .cta-phone h1 {
    font-size:2.4rem;
  }
  .white-cta {
    min-height:375px;
    justify-content: center;
  }
  .shield-cta img {
    content: url(/public/assets/shield.svg);
    width:100%;
  }

  .featured-img img {
    width:100%;
  }
  .header {
    flex-direction: column;
  }

  .dark-callout .intro {
    text-align: center;
  }

  .dark-callout .intro p {
    width: 100%;
  }

  .dark-callout section {
    flex-direction: column;
  }

  .dark-callout-alt section {
    flex-direction: column-reverse;
  }
  .dark-callout h3 {
    font-size:1.8rem;
  }
  .hero-cta h1 {
    font-size: 3.4em;
    font-weight:800;
  }

  .hero-cta .cta-tagline {
    font-size: 85%;
  }

  .icon-box {
    padding: 25px;
    gap: 15px;
  }

  .nav-item {
    margin-top: 10px;
  }

  .hero-cta p {
    max-width: 100vw;
  }

  .section {
    display: flex;
    flex-direction: column;
  }

  .cta-buttons {
    display: flex;
    flex-direction: column;
  }
}